* {
  margin: 0;
  padding: 0;
  border: none;
}

.App{
  background-color: #c9c9c9;
  padding: 0;
}

.main{
  display: flex;
  flex-direction: row;
}

.left{
  width: 20%;
  padding: 20px 0px 0px 20px;
}

.right{
  width: 20%;
  padding: 20px 20px 0px 0px;
}

.articles{
  width: 60%;
  padding: 30px 20px 0px 20px;
}

@media screen and (max-width: 2000px) {
  .main{
  display: flex;
  flex-direction: row;
}
}

@media screen and (max-width: 1150px) {
    .main{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }
    .left{
      grid-column-start: 1;
      grid-column-end: 1;
      width: auto;
    }

    .right{
      grid-template-columns: 10rem auto;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 1;
      width: auto;
    }
    .articles{
      grid-column-start: 1;
      grid-column-end: 3;
      width: auto;
    }
}


@media screen and (max-width: 650px) {

    .main{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    /* Others */
  }
    .left{
      grid-column-start: 1;
      grid-column-end: 1;
    }

    .right{
      grid-template-columns: 10rem auto;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 1;
    }
    .articles{
      grid-column-start: 1;
      grid-column-end: 3;
      /* Others */
      padding: 0.27rem;
      width: auto;
    }
}



